In [22]:
import pandas as pd
import numpy as np

In [23]:
# Load the CSV file, one-hot encode the 'category' column, and extract the resulting dataframe to a new CSV file
df = pd.read_csv('clean_data.csv')

In [24]:
df['prev_sold_date'] = df['prev_sold_date'].where(df['prev_sold_date'].isnull(), 1)

In [25]:
df.head()

,brokered_by,status,price,bed,bath,acre_lot,state,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3,2,0.12,Puerto Rico,920.0,NaN
1,52707.0,for_sale,80000.0,4,2,0.08,Puerto Rico,1527.0,NaN
2,103379.0,for_sale,67000.0,2,1,0.15,Puerto Rico,748.0,NaN
3,31239.0,for_sale,145000.0,4,2,0.10,Puerto Rico,1800.0,NaN
4,103378.0,for_sale,179000.0,4,3,0.46,Puerto Rico,2520.0,NaN

In [26]:
df['prev_sold_date'] = df['prev_sold_date'].fillna(0)

In [27]:
df.head()

,brokered_by,status,price,bed,bath,acre_lot,state,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3,2,0.12,Puerto Rico,920.0,0
1,52707.0,for_sale,80000.0,4,2,0.08,Puerto Rico,1527.0,0
2,103379.0,for_sale,67000.0,2,1,0.15,Puerto Rico,748.0,0
3,31239.0,for_sale,145000.0,4,2,0.10,Puerto Rico,1800.0,0
4,103378.0,for_sale,179000.0,4,3,0.46,Puerto Rico,2520.0,0

In [28]:
df.head()

,brokered_by,status,price,bed,bath,acre_lot,state,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3,2,0.12,Puerto Rico,920.0,0
1,52707.0,for_sale,80000.0,4,2,0.08,Puerto Rico,1527.0,0
2,103379.0,for_sale,67000.0,2,1,0.15,Puerto Rico,748.0,0
3,31239.0,for_sale,145000.0,4,2,0.10,Puerto Rico,1800.0,0
4,103378.0,for_sale,179000.0,4,3,0.46,Puerto Rico,2520.0,0

In [29]:
count_one =df.loc[df['prev_sold_date'] == 1]

In [30]:
count_one.shape

(1089909, 9)

In [31]:
df.shape

(1360716, 9)

In [32]:
df=df.drop(['brokered_by'],axis=1)

In [33]:
df.head()

,status,price,bed,bath,acre_lot,state,house_size,prev_sold_date
0,for_sale,105000.0,3,2,0.12,Puerto Rico,920.0,0
1,for_sale,80000.0,4,2,0.08,Puerto Rico,1527.0,0
2,for_sale,67000.0,2,1,0.15,Puerto Rico,748.0,0
3,for_sale,145000.0,4,2,0.10,Puerto Rico,1800.0,0
4,for_sale,179000.0,4,3,0.46,Puerto Rico,2520.0,0

In [34]:
# Create a LabelEncoder object
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# Fit the LabelEncoder to the data and transform it
df['status_encoded'] = le.fit_transform(df['status'])

In [36]:
print(df['status_encoded'].unique())

[0 1]

In [37]:
df.drop(['status'], axis=1, inplace=True)

In [38]:
df['states_encoded'] = le.fit_transform(df['state'])

In [39]:
print(df['states_encoded'].unique())

[40 48 22  6 31 33 30 47 41 53 20 39 51  7 36 21 49  5  8  4 34 18 42 44
 10  0  9 25 45 26  3 19 15 14 23 52 16 24 43 28 35 27 13 17 37 32 46 29
 50 38  2 12 11  1]

In [40]:
df.to_csv('encoded_data.csv', index=False)